$color-blue: #4285f4;
$color-blue--soft: #f2f7fb;
$color-blue--lighter: #558dea;
$color-blue--darker: #246fec;

$color-red: #ff3547;
$color-red--lighter: #f55160;
$color-red--darker: #d71a2b;

$color-yellow: #fb3;
$color-yellow--lighter: #e3b24f;
$color-yellow--darker: #db9914;

$color-white: #FFFFFF;
$color-white--soft: #e5e5e5;

$color-gray--light: #c3c3ce;
$color-gray: #999999;
$color-gray--dark: #303030;

$color-black--light: #151515;
$color-black: #000000;

$color-primary: $color-blue;
$color-primary--lighter: $color-blue--lighter;
$color-primary--darker: $color-blue--darker;

$color-info: $color-gray;
$color-info--lighter: $color-gray--light;
$color-info--darker: $color-gray--dark;

$color-warning: $color-yellow;
$color-warning--lighter: $color-yellow--lighter;
$color-warning--darker: $color-yellow--darker;

$color-danger: $color-red;
$color-danger--lighter: $color-red--lighter;
$color-danger--darker: $color-red--darker;

$color-text: $color-gray--dark;
$color-text--secondary: $color-gray;
$color-placeholder: $color-gray;
$color-link: $color-blue;

$color-background--main: $color-blue--soft;
$color-background--block: $color-white;

$color-border: $color-white--soft;

